<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyfx.aw.dao.AwServerInfoMapper">
  <resultMap id="BaseResultMap" type="com.wyfx.aw.entity.AwServerInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="serverId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="local" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="conn_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_delete" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="host" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="port" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wyfx.aw.entity.AwServerInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="serverId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="local" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="conn_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_delete" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_valid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="host" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="port" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, serverId, name, local, conn_status, is_delete, is_valid, host, port
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aw_server_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAwServerInfo" parameterType="com.wyfx.aw.entity.AwServerInfo" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aw_server_info
    <where>
      <if test="id != null">
         id  =#{id , jdbcType=BIGINT}
      </if>
      <if test="serverId != null">
        and  serverId  =#{serverId , jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and name  = #{name , jdbcType=VARCHAR}
      </if>
      <if test="local != null">
        and local  = #{local , jdbcType=VARCHAR}
      </if>
      <if test="connStatus != null">
        and conn_status  = #{connStatus , jdbcType=INTEGER}
      </if>
      <if test="isDelete != null">
        and is_delete  = #{isDelete , jdbcType=INTEGER}
      </if>
      <if test="isValid != null">
        and is_valid  = #{isValid , jdbcType=INTEGER}
      </if>
      <if test="host != null">
        and host  = #{host,  jdbcType=VARCHAR}
      </if>
      <if test="port != null">
        and port  = #{port , jdbcType=INTEGER}
      </if>
      <if test="note != null">
        and note  = #{note , jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from aw_server_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.wyfx.aw.entity.AwServerInfo">
    insert into aw_server_info (id, serverId, name,
      local, conn_status, is_delete, 
      is_valid, host, port, 
      note)
    values (#{id,jdbcType=BIGINT}, #{serverId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{local,jdbcType=VARCHAR}, #{connStatus,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{isValid,jdbcType=INTEGER}, #{host,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wyfx.aw.entity.AwServerInfo">
    insert into aw_server_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serverId != null">
        serverId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="local != null">
        local,
      </if>
      <if test="connStatus != null">
        conn_status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="host != null">
        host,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="serverId != null">
        #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="local != null">
        #{local,jdbcType=VARCHAR},
      </if>
      <if test="connStatus != null">
        #{connStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wyfx.aw.entity.AwServerInfo">
    update aw_server_info
    <set>
      <if test="serverId != null">
        serverId = #{serverId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="local != null">
        local = #{local,jdbcType=VARCHAR},
      </if>
      <if test="connStatus != null">
        conn_status = #{connStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wyfx.aw.entity.AwServerInfo">
    update aw_server_info
    set serverId = #{serverId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      local = #{local,jdbcType=VARCHAR},
      conn_status = #{connStatus,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      host = #{host,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wyfx.aw.entity.AwServerInfo">
    update aw_server_info
    set serverId = #{serverId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      local = #{local,jdbcType=VARCHAR},
      conn_status = #{connStatus,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      host = #{host,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>